:root {
    --container-padding: 10px 80px;
}

body{
    margin: 0;
}
.landing-page{
    height: 100vh;
    background-color: #bae8e8;
    padding: var(--container-padding);
    padding-bottom: 0px;
    color: purple;
} 
.landing-page h2{
    font-size: 80px;
}
header{
    display: flex;
    justify-content: space-between;
    /* to align the header set to baseline */
    align-items: baseline;
    /* to pull the line under the header */
    border-bottom: 2px solid #272343;
}

h1 {
    margin-top: 0;
}

nav ul{
    /* to remove bullet */
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
}

.link-special{
    background-color: #272343;
    color: #ffffff;
    border-radius: 10px;

}
.parent h3{
    text-decoration: underline;
}
.parent{
    padding: var(--container-padding);
    font-weight: normal;
}
.parent ul{
    padding: 0;
    list-style-position: inside;
    text-decoration: none;
}
.parent li{
    margin: 10px 0;
}
.child{
    background-color: purple;
    padding: var(--container-padding);
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
}
.child div{
    color: #ffffff;
    /* width: 20vw; */
    margin: 20px 0;
}